<div class="slideout-content">
  <!-- Modal to add reglement starts-->
  <div
    class="modalsd modal-slide-in sdfade new-user-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form
        class="add-new-user modal-content pt-0"
        (ngSubmit)="(newRegForm.form.valid)"
        #newRegForm="ngForm"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-reglement-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New Reglement</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Montant payee</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="Montant paye"
              name="montantpaye"
            />
            <span
              *ngIf="newRegForm.submitted && montantpaye.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="montantpaye.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Montant Restant</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="Montant restant"
              name="montantrestant"
            />
            <span
              *ngIf="newRegForm.submitted && montantpaye.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="montantpaye.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <label class="form-label" for="basic-icon-default-fullname"
            >Date de reglement</label
          >
          <section id="default-date-and-range">
            <dl-date-time-picker
              startView="day"
              maxView="year"
              minView="minute"
              minuteStep="5"
              [(ngModel)]="selectedDate"
            >
            </dl-date-time-picker>
          </section>
          <!--
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-email"
              >Email</label
            >
            <input
              type="text"
              id="basic-icon-default-email"
              class="form-control dt-email"
              placeholder="john.doe@example.com"
              aria-label="john.doe@example.com"
              aria-describedby="basic-icon-default-email2"
              name="user-email"
              [(ngModel)]="email"
              [class.error]="newUserForm.submitted && FEmailRef.invalid"
              #FEmailRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && FEmailRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="FEmailRef.errors.required"
                >This field is required!</small
              >
            </span>
            <small class="form-text text-muted">
              You can use letters, numbers & periods
            </small>
          </div>
          <div class="form-group">
            <label class="form-label" for="user-role">User Role</label>
            <select id="user-role" class="form-control">
              <option value="subscriber">Subscriber</option>
              <option value="editor">Editor</option>
              <option value="maintainer">Maintainer</option>
              <option value="author">Author</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        
Modal to add new user Ends-->

          <button
            type="submit"
            class="btn btn-primary mr-1"
            (click)="submit(newRegForm)"
            rippleEffect
          >
            Submit
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-reglement-sidebar')"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
