





                      <!-- list  -->
        
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
      <section class="invoice-preview-wrapper">
          <div class="row invoice-preview">
              <!-- Invoice -->
              <div class="col-xl-9 col-md-8 col-12 printRef">
                  <div class="card invoice-preview-card">
                      <div class="card-body invoice-padding pb-0">
                          <!-- Header Starts -->
                          <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                              <div>
                                  <div class="logo-wrapper">
                                    <img src="assets/images/logo/logo.png"  width="200" height="200">
                                      <h3 class="text-primary invoice-logo">EStore</h3>
                                  </div>
                                  <p class="card-text mb-25">Cité El Ghazala 2,</p>
                                  <p class="card-text mb-25"> Raoued, Ariana </p>
                                  <p class="card-text mb-0">25 785 452 , 71 100 152</p>
                              </div>
                              <div class="mt-md-0 mt-2">
                                  <h4 class="invoice-title">
                                      Invoice 
                                       <span class="invoice-number">#{{id}}</span>
                                  </h4>
                                 
                              </div>
                          </div>
                          <!-- Header Ends -->
                      </div>

                      <hr class="invoice-spacing" />

                      <!-- Address And Contact Ends -->

                      <!-- Invoice Description Starts -->
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                              <tr>
                                  <th class="py-1">idDetailFacture</th>
                                  <th class="py-1">prixTotalDetail</th>
                                  <th class="py-1">montantRemiseD</th>
                                  <th class="py-1">pourcentageRemise</th>
                                  <th class="py-1">qteCommande</th>
                                  <th class="py-1">Action</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let u of DetailF ;let i=index" >
                                  
                                  <td  class="py-1">
                                      <p class="card-text font-weight-bold mb-25">{{u.idDetailFacture }}</p>
                                      <p class="card-text text-nowrap">

                                      </p>
                                  </td>
                                  <td class="py-1">
                                      <span class="font-weight-bold">{{u.prixTotalDetail}}</span>
                                  </td>
                                  <td class="py-1">
                                      <span class="font-weight-bold">{{u.montantRemise}}</span>
                                  </td>
                                  <td  [ngStyle]="u.pourcentageRemise>=50 ?{'color':'red'}:{}"  class="py-1">
                                      <span class="font-weight-bold">{{u.pourcentageRemise}} %</span>
                                  </td>
                                  <td [ngClass]="u.qteCommande > 50 ?'one':'two' " class="py-1">
                                      <span class="font-weight-bold">{{u.qteCommande}}</span>
                                  </td>
                                  
                                  <td class="py-1">
                                     <button  type="button" class="btn btn-primary" (click)="deleteDF(i)">delete</button>
                                     <button  type="button" class="btn btn-outline-primary btn-block mb-75" [routerLink]="['/facture/updateDf',u.idDetailFacture] ">Update</button>
                                  
                                  
                                  
                                  </td>
                              
                          </tr>


                              </tbody>
                          </table>
                      </div>

                      <div class="card-body invoice-padding pb-0">
                          <div class="row invoice-sales-total-wrapper">
                             

                                  <!-- form  -->

                            <form class="new-facture modal-content pt-0" [formGroup]="regform">
         
                              <div class="modal-header mb-1">
                                <h5 class="modal-title" id="exampleModalLabel">New Facture</h5>
                              </div>
                              
                                <!-- MONTANT PAYEE -->
                                <div class="table-responsive">
                                  <table class="table">
                                      <thead>
                                      
                                      </thead>
                                      <tbody>
<tr>
  <td></td>
  <td>

                                <div class="form-group">
                                  <label class="form-label" for="qteCommande"
                                    ></label
                                  >

                                  
                                  <input
                                    type="text"
                                    class="qteCommande"
                                    id="qteCommande"
                                    placeholder="qteCommande"
                                    name="qteCommande"
                                    formControlName="qteCommande"/>
                                  <span
                                    *ngIf="regform.invalid"
                                    class="invalid-form"
                                  >
                                    <small
                                      class="form-text text-danger"
                                      *ngIf="regform['controls'].qteCommande.errors?.required"
                                      >Ce champ est requis !</small
                                    >
                                    <small
                                    class="form-text text-danger"
                                    *ngIf="regform['controls'].qteCommande.errors?.pattern"
                                    >Seulement des chiffres !</small >
                                
                                  </span>
                                </div>
                              </td>
                              <td>
                                 <!-- MONTANT RESTANT  -->
                                <div class="form-group">
                                  <label class="form-label" for="prixTotalDetail"
                                    ></label
                                  >
                                  <input
                                    type="text"
                                    class="prixTotalDetail"
                                    id="prixTotalDetail"
                                    placeholder="prixTotalDetail"
                                    name="prixTotalDetail"
                                    formControlName="prixTotalDetail"
                      
                                    required
                                  />
                                  <span
                                  *ngIf="regform.invalid"
                                  class="invalid-form"
                                >
                                  <small
                                    class="form-text text-danger"
                                    *ngIf="regform['controls'].prixTotalDetail.errors?.required"
                                    >Ce champ est requis !</small
                                  >
                                  <small
                                  class="form-text text-danger"
                                  *ngIf="regform['controls'].prixTotalDetail.errors?.pattern"
                                  >Seulement des chiffres !</small
                                >
                            
                                </span>
                                </div>
                              </td>
                              <td>
                                <!-- DATE INPUT  -->
                         <!-- MONTANT RESTANT  -->
                         <div class="form-group">
                            <label class="form-label" for="montantRemise"
                              ></label
                            >
                            <input
                              type="text"
                              class="montantRemise"
                              id="montantRemise"
                              placeholder="montantRemise"
                              name="prixTotalDetail"
                              formControlName="montantRemise"
                    
                              required
                            />
                            <span
                            *ngIf="regform.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="regform['controls'].montantRemise.errors?.required"
                              >Ce champ est requis !</small
                            >
                            <small
                            class="form-text text-danger"
                            *ngIf="regform['controls'].montantRemise.errors?.pattern"
                            >Seulement des chiffres !</small
                          >
                          </span>
                          </div>
                       
                        <td>
                    
                            
                                <!-- DATE INPUT  -->
                         <!-- MONTANT RESTANT  -->
                         <div class="form-group">
                            <label class="form-label" for="pourcentageRemise"
                              ></label
                            >
                            <input
                              type="text"
                              class="pourcentageRemise"
                              id="pourcentageRemise"
                              placeholder="pourcentageRemise"
                              name="pourcentageRemise"
                              formControlName="pourcentageRemise"
                    
                              required
                            />
                            <span
                            *ngIf="regform.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="regform['controls'].pourcentageRemise.errors?.required"
                              >Ce champ est requis !</small
                            >
                            <small
                            class="form-text text-danger"
                            *ngIf="regform['controls'].pourcentageRemise.errors?.pattern"
                            >Seulement des chiffres !</small
                          >
                         
                          </span>
                                   
                        </div>
                      </td>
                       
                      
                              
                      
                      
                                  <button
                                    type="submit"
                                    class="btn btn-primary mr-1"
                                    (click)="addDetailFacture();submit(regform)"
                                    rippleEffect
                                    [disabled]="regform.status === 'INVALID'"
                                  >
                                    ADD
                                  </button>
                                  
                             
                      
                                
                              </tr>
                                </tbody> 
                              </table>  </div>
                            </form>
 





                          </div>
                      </div>
                      <!-- Invoice Description Ends -->

                      <hr class="invoice-spacing" />

                      <!-- Invoice Note Starts -->

                      <!-- Invoice Note Ends -->
                  </div>
              </div>
              <!--/ Invoice -->

              <!-- Invoice Actions -->
              <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
                  <div class="card">
                      <div class="card-body">
                          
                          <a   class="btn btn-outline-primary btn-block mb-75" href="javascript:window.print();" rippleEffect>
                              Print
                          </a>
                         
                      </div>
                  </div>
              </div>
              <!--/ Invoice Actions -->
          <!-- update  -->
           




          </div>
      </section>
  </div>




</div>
     
  
  


        