.one{
    color: darkolivegreen;
}
.two{
    color: dimgrey;
}

.ng-valid[required],
.ng-valid.required {
<<<<<<< HEAD
  border-left: 5px solid #42a948; /* green /
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; / red */
}
=======
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
>>>>>>> 562404c4ffb0bf61d9f55c237990ddb55ad96c54
