<br>




<div class="content-wrapper ">
    <div class="content-body">
        <section class="invoice-preview-wrapper">
            <div class="row invoice-preview">
                <!-- Invoice -->
                <div class="col-xl-18 col-md-25 col-20 invoice-actions mt-md-0 mt-4">
                    <div class="card invoice-preview-card">
                        <div class="card-body invoice-padding pb-8">
                            <!-- Header Starts -->
                            <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                                <div>
                                    <div class="logo-wrapper">
                                      <img src="assets/images/logo/logo.png"  width="200" height="200">
                                        <h3 class="text-primary invoice-logo">EStore</h3>
                                    </div>
                                    <p class="card-text mb-25">Cité El Ghazala 2,</p>
                                    <p class="card-text mb-25"> Raoued, Ariana </p>
                                    <p class="card-text mb-0">25 785 452 , 71 100 152</p>
                                </div>
                                <div class="mt-md-0 mt-2">
                                    <h4 class="invoice-title">
                                        Invoice 
                                       <span class="invoice-number">#{{ idF}}</span>
                                       <button type="button" class="btn btn-outline-primary btn-block mb-75"[routerLink]="['/facture/addDetailFac',idF]" >Update / ADD / Delete Detail facture {{idF}} </button>

                                    </h4>
                                  
                                </div>
                            </div>
                            <!-- Header Ends -->
                        </div>

                        <hr class="invoice-spacing" />

                        <!-- Address And Contact Starts -->
                        <div class="card-body invoice-padding pt-0">
                            <div class="row invoice-spacing">



                                <div   class="col-xl-4 p-0 mt-xl-0 mt-2">
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Address And Contact Ends -->

                        <!-- Invoice Description Starts -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="py-1">idDetailFacture</th>
                                    <th class="py-1">prixTotalDetail</th>
                                    <th class="py-1">montantRemiseD</th>
                                    <th class="py-1">pourcentageRemise</th>
                                    <th class="py-1">qteCommande</th>
                                  
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let u of DetailF ;let i=index" >
                                    
                                    <td  class="py-1">
                                        <p class="card-text font-weight-bold mb-25">{{u.idDetailFacture }}</p>
                                        <p class="card-text text-nowrap">

                                        </p>
                                    </td>
                                    <td class="py-1">
                                        <span class="font-weight-bold">{{u.prixTotalDetail}}</span>
                                    </td>
                                    <td class="py-1">
                                        <span class="font-weight-bold">{{u.montantRemise}}</span>
                                    </td>
                                    <td class="py-1">
                                        <span class="font-weight-bold">{{u.pourcentageRemise}}</span>
                                    </td>
                                    <td class="py-1">
                                        <span class="font-weight-bold">{{u.qteCommande}}</span>
                                    </td>
                                    
                                
                                
                            </tr>


                                </tbody>
                            </table>
                        </div>

                        <div class="card-body invoice-padding pb-0">
                            <div class="row invoice-sales-total-wrapper">
                                <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-3">
                                    <p class="card-text mb-0">
                                        <span class="font-weight-bold">Salesperson:</span> <span class="ml-75">Alfie Solomons</span>
                                    </p>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end order-md-2 order-1">
                                    <div class="invoice-total-wrapper">
                                        <div class="invoice-total-item">
                                            <p class="invoice-total-title">Subtotal:</p>
                                            <p class="invoice-total-amount">$1800</p>
                                        </div>
                                        <div class="invoice-total-item">
                                            <p class="invoice-total-title">Discount:</p>
                                            <p class="invoice-total-amount">$28</p>
                                        </div>
                                        <div class="invoice-total-item">
                                            <p class="invoice-total-title">Tax:</p>
                                            <p class="invoice-total-amount">21%</p>
                                        </div>
                                        <hr class="my-50" />
                                        <div class="invoice-total-item">
                                            <p class="invoice-total-title">Total:</p>
                                            <p class="invoice-total-amount"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Invoice Description Ends -->

                        <hr class="invoice-spacing" />

                        <!-- Invoice Note Starts -->

                        <!-- Invoice Note Ends -->
                    </div>
                </div>
                <!--/ Invoice -->

               <div  class="col-md-3 order-md-25 order-58 mt-md-85 mt-58">
<br>
            
            </div>

            <!-- update  -->
             




            </div>
        </section>
    </div>

  
</div>
