<div class="incenter">
  
<div class="accordian">
  <ul>
  <li   *ngFor="
  let product of products" >
    <div class="image_title">
      <a >{{product.libelleProduit}}</a>
    </div> 
    <a   [routerLink]="['/produit/info', product.idProduit]">
     <div class="image-cont"> <img [src]="product.image" /></div>
      
    </a>
  </li>
 
</ul>
</div>
</div>

<a [routerLink]="['/produit/list']" class="btn btn-primary"
            >show all</a
          >
          <button
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            style="margin-left: 10px"
           
          >
            Ajouter
          </button>
 <router-outlet></router-outlet>
  
 


 