<!-- Ecommerce Sidebar Starts -->
<div class="row mt-1 d-none d-lg-block">
  <div class="col-sm-12">
    <h6 class="filter-heading">Filters</h6>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <!-- Price Filter starts -->
    <div class="multi-range-price">
      <h6 class="filter-title mt-0">Multi Range</h6>
      <ul class="list-unstyled price-range" id="price-range">
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="priceAll" name="price-range" class="custom-control-input" checked />
            <label class="custom-control-label" for="priceAll" (click)="filter('all')">All</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="priceRange1" name="price-range" class="custom-control-input" />
            <label class="custom-control-label" for="priceRange1" (click)="filter('lte100')">&lt;$100</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="priceRange2" name="price-range" class="custom-control-input" />
            <label class="custom-control-label" for="priceRange2" (click)="filter('btn100-200')">$100 - $200</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="priceARange3" name="price-range" class="custom-control-input" />
            <label class="custom-control-label" for="priceARange3"(click)="filter('bt200-500')">$200 - $500</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="priceRange4" name="price-range" class="custom-control-input" />
            <label class="custom-control-label" for="priceRange4"(click)="filter('gte500')">&gt;$500</label>
          </div>
        </li>
      </ul>
    </div>
    <!-- Price Filter ends -->

    

    <!-- Categories Starts -->
    <div id="product-categories">
      <h6 class="filter-title">Categories</h6>
      <ul class="list-unstyled categories-list">
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category1" name="category-filter" class="custom-control-input" checked />
            <label class="custom-control-label" for="category1" (click)="filter('old')">Oldest</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category2" name="category-filter" class="custom-control-input" />
            <label class="custom-control-label" for="category2" (click)="filter('new')">Newest</label>
          </div>
        </li>
        <li>
         
        </li>
        
      
      </ul>
    </div>
    <!-- Categories Ends -->

   

    <!-- Clear Filters Starts -->
    <div id="clear-filters">
      <button type="button" class="btn btn-block btn-primary" rippleEffect (click)="filter('clear')">Clear All Filters</button>
    </div>
    <!-- Clear Filters Ends -->
  </div>
</div>
<!-- Ecommerce Sidebar Ends -->
