<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <!-- User List -->
      <section class="users-list-wrapper">
        <!-- users filter start -->
        <div class="card">
          
          <div class="card-body">
            <div class="users-list-filter">
              <form>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">

                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
 
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                     
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- users filter end -->
  
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
               
            
              </div>
            </div>
          </div>
     
           

              <div id="content" #content> 
               
                <table class="table">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList">
                            <td>{{user.userName}}</td>
                            <td>{{user.userFirstName}}</td>
                            <td> {{user.userLastName}}
                            </td>
                            <td> {{user.role[0].roleName}}
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="delete(user.userName)" >
                                    Delete
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
          
        </div>
      </section>
      <!--/ User List -->
    </div>
  
    <!-- New User Sidebar -->

    <!--/ New User Sidebar -->
  </div>
  