<div class="container">
  <div class="row justify-content-md-center">

<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar bg-light-danger p-50 m-0 mb-1">
        <div class="avatar-content">
          <i data-feather="shopping-cart" class="font-medium-5"></i>
        </div>
      </div>
      <h2 class="font-weight-bolder">{{ProductsCount}}</h2>
      <p class="mb-0 line-ellipsis">Produit</p>
    </div>
  </div>
</div>
<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar bg-light-danger p-50 m-0 mb-1">
        <div class="avatar-content">
          <i data-feather="file-text" class="font-medium-5"></i>
        </div>
      </div>
      <h2 class="font-weight-bolder">{{ReglementCount}}</h2>
      <p class="mb-0 line-ellipsis">Reglement</p>
    </div>
  </div>
</div>

<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card text-center">
    <div class="card-body">
      <div class="avatar bg-light-danger p-50 m-0 mb-1">
        <div class="avatar-content">
          <i data-feather="file-text" class="font-medium-5"></i>
        </div>
      </div>
      <h2 class="font-weight-bolder">{{FacturesCount}}</h2>
      <p class="mb-0 line-ellipsis">Factures</p>
    </div>
  </div>
</div>

</div>
</div>