<div class="mb-3 row">
  <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label"
    >Recherche:</label
  >
  <div class="col-xs-3 col-sm-auto">
    <input
      id="table-complete-search"
      type="text"
      class="form-control"
      name="searchTerm"
      [(ngModel)]="service.searchTerm"
    />
    <!-- <span class="col col-form-label" *ngIf="service.loading$ | async"
        >Loading...</span
      > -->
  </div>

  <button
    [routerLink]="['add-reglement']"
    class="btn btn-primary ml-1"
    rippleEffect
    (click)="toggleSidebar('new-reglement-sidebar')"
  >
    <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
    ><span class="d-none d-sm-inline-block">Ajouter Reglement</span>
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="date" (sort)="onSort($event)">date</th>
      <th scope="col" sortable="montantPaye" (sort)="onSort($event)">
        montant Paye
      </th>
      <th scope="col" sortable="montantRestant" (sort)="onSort($event)">
        Montant Restant
      </th>
      <th scope="col" sortable="payee" (sort)="onSort($event)">Payee</th>
      <th scope="col">Outils</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let reglement of this.service.REGLEMENTS.slice((service.page - 1) * service.pageSize,
        (service.page - 1) * service.pageSize + service.pageSize)"
    >
      <th scope="row">{{ reglement.idReglement }}</th>
      <td>
        <ngb-highlight
          [result]="reglement.date"
          [term]="service.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <!-- <img
            [src]="'https://upload.wikimedia.org/wikipedia/commons/' + 'TN'"
            class="me-2"
            style="width: 20px"
          /> -->
        <ngb-highlight
          [result]="reglement.montantPaye"
          [term]="service.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [result]="reglement.montantRestant"
          [term]="service.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <div *ngIf="reglement.payee;else notpayee">
          <span class="badge bg-success">
            <ngb-highlight
              result="Oui"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </span>
        </div>
        <ng-template #notpayee>
          <span class="badge bg-danger">
            <ngb-highlight
              result="Non"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </span>
        </ng-template>
      </td>
      <td>
        <a
          (click)="GetReglement(reglement.idReglement);toggleSidebar('new-reglement-sidebar');"
        >
          <i class="feather icon-edit" style="color: rgb(55, 106, 247)"></i>
          &nbsp;
        </a>
        <i class="feather icon-trash" style="color: rgb(194, 78, 0)"> </i>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="service.page"
    [pageSize]="service.pageSize"
  >
  </ngb-pagination>

  <select
    class="form-control mx-25"
    style="width: 10vw"
    name="pageSize"
    [(ngModel)]="service.pageSize"
  >
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>

<core-sidebar
  class="modal modal-slide-in sidebar-todo-modal fade"
  name="new-reglement-sidebar"
  overlayClass="modal-backdrop"
>
  <router-outlet></router-outlet>
</core-sidebar>
