<ng-template #modalVC2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalCenterTitle">
      Modifier {{ prod.libelleProduit }}
    </h4>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true" style="color: red">&times;</span>
    </button>
  </div>
  <div
    class="modal-body"
    tabindex="0"
    ngbAutofocus
    style="display: flex; justify-content: center"
  >
    <div style="justify-content: center; width: 80%">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <br />
          <label for="es">Libelle</label>
          <input
            type="text"
            class="form-control"
            id="es"
            required
            pattern="[A-Za-z0-9 ]{4,}"
            formControlName="libelle"
            placeholder="Enter libelle"
          />
          <div
            *ngIf="editForm['controls'].libelle.errors?.pattern"
            class="alert alert-danger"
          >
            Libelle must contain more than 3 characters
          </div>
        </div>

        <div class="form-group">
          <label for="es1">Prix</label>
          <input
            type="number"
            class="form-control"
            id="es1"
            required
            formControlName="prix"
            placeholder="Enter price"
          />
          <div
            *ngIf="editForm['controls'].prix.errors?.required"
            class="alert alert-danger"
          >
           Missing price for product
          </div>
        </div>

        <div class="form-group">
          <label for="es2">date Modification</label>
          <input
            type="date"
            class="form-control"
            id="es2"
            placeholder="yyyy-mm-dd"
            required
            formControlName="dateModif"
            disabled="true"
          />
        </div>
        <div class="form-group">
          <label for="es3">Code Produit</label>
          <input
            type="text"
            class="form-control"
            id="es3"
            required
            formControlName="code"
            pattern="[A-Za-z0-9]{3,}"
            placeholder="Enter Code"
          />
          <div
            *ngIf="editForm['controls'].code.errors?.pattern"
            class="alert alert-danger"
          >
            code must contain more than 2 characters
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!editForm.valid"
          class="btn btn-primary"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Accept click')"
      rippleEffect
    >
      Back
    </button>
  </div>
</ng-template>
