<ng-template #modalVC let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalCenterTitle">Add a new Product</h4>
    <button type="button" class="close " (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true" style="color: red;">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus style="display: flex;justify-content: center">
   

    <div style="justify-content: center ; width: 80%;">
    <form #form="ngForm"  (ngSubmit)="onSubmit(form)" >
             
     
      <div class="form-group">
        <br>
        
        <label for="es">Libelle</label>
        <input
          type="text"
          class="form-control"
          id="es"
          required
          pattern= "[A-Za-z0-9 ]{3,}"
          [(ngModel)]="model.libelleProduit"
          #libelleProduit="ngModel"
          name="libelleProduit"
          placeholder="Enter libelle"
        />
        
        <div [hidden]="libelleProduit.valid || libelleProduit.pristine"
         class="alert alert-danger" >Libelle is no less than 3 characters </div>
      </div>
      <div class="form-group">
        <label for="es1">Prix</label>
        <input
          type="number"
          class="form-control"
          id="es1"
          required
          [(ngModel)]="model.prix"
          #prix="ngModel"
          name="prix"
          placeholder="Enter price"
        />
        <div [hidden]="prix.valid || prix.pristine"
        class="alert alert-danger">Missing price </div>
      </div>
      <div class="form-group">
        <label for="es2">date creation</label>
        <input
          type="date"
          class="form-control"
          id="es2"
          [value]="model.dateCreation"
          [placeholder]="model.dateCreation"
          required
          [(ngModel)]="model.dateCreation"
          #dateCreation="ngModel"
          name="dateCreation"
        />
        <div [hidden]="dateCreation.valid || dateCreation.pristine"
        class="alert alert-danger"> </div>
      </div>
      <div class="form-group">
        <label for="es3">Code Produit</label>
        <input
        type="text"
        class="form-control"
        id="es3"
        required  
        aria-describedby="emailHelp"
        [(ngModel)]="model.codeProduit"
        #codeProduit="ngModel"
        name="codeProduit"
        pattern= "[A-Za-z0-9]{3,}"
        placeholder="Enter Code"
      />
      <div [hidden]="codeProduit.valid || codeProduit.pristine"
      class="alert alert-danger">Misisng product code </div>
    </div>
      <div class="form-group">
          <label for="es4">Stock</label>
          <input
            
            type="text"
            value=null
            disabled="true"
            class="form-control"
            id="es4"
            required
            [(ngModel)]="model.stock"
            #stock="ngModel"
            name="stock"
            placeholder="No stock"
          />
          <div [hidden]="stock.valid || stock.pristine"
          class="alert alert-danger"> </div>
         
    </div>
    <div class="form-group">
      <label for="es4">Picture</label>
      <input
      #img
      required
        type="file"
        class="form-control"
        id="es4"
        ng2FileSelect [uploader]="uploader"
        (change)="onFileSelect($event.target)"
        name="image"
        placeholder="No stock"
      />
     
     
     
</div>
   
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="alertWithSuccess()">
      Add
    </button>
  
  </form>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
     Back
    </button>
  </div>
</ng-template>
<a
  type="button"
  class="btn btn-warning"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="margin-left: 5%; margin-top:-5px;"
  (click)="modalOpenVC(modalVC)"
>
  Ajouter
</a>

   



<!-- 
<div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
	<h1>New Photo</h1>
	<h2>Direct upload from the browser with Angular File Upload</h2>
	<p>You can also drag and drop an image file into the dashed area.</p>
	<form>
		<div class="form_line">
			<label path="title">Title:</label>
			<div class="form_controls">
				<input type="text" class="form-control" #title placeholder="Title" (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)"
				/>
			</div>
		</div>
		<div class="form_line">
			<label>Image:</label>
			<div class="form_controls">
				<div class="upload_button_holder">
					<label class="upload_button" for="fileupload">Upload</label>
					<input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
						multiple />
				</div>

			</div>
		</div>
	</form>
	<h2>Status</h2>
	<div class="file" *ngFor="let response of responses; let i = index">
		<h3>{{response.file.name}}</h3>
    <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
		<div class="status">
			Uploading... {{response.progress}}%
			<div *ngIf="!response.status">In progress</div>
			<div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
		</div>
		<div class="progress-bar">
			<div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
		</div>
		<div class="form_line">
			<div class="form_controls">
				
			</div>
		</div>
		<div class="info">
			<table>
				<tr *ngFor="let property of getFileProperties(response.data)">
					<td> {{ property.key }} </td>
					<td> {{ property.value | json}} </td>
				</tr>
			</table>
		</div>
	</div>

</div>
 -->

<div class="preview">
  <!-- Consider using https://github.com/valor-software/ng2-file-upload/issues/461 for image preview -->
</div>