<div class="mb-3 row">
  <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label"
    >Recherche:</label
  >
  <div class="col-xs-3 col-sm-auto">
    <input
      id="table-complete-search"
      type="text"
      class="form-control"
      name="searchTerm"
      [(ngModel)]="val" (keyup)="liveSearch()"
     
    />
    <!-- <span class="col col-form-label" *ngIf="service.loading$ | async"
        >Loading...</span
      > -->
  </div>

  <button
    [routerLink]="['add-reglement']"
    class="btn btn-primary ml-1"
    rippleEffect
    (click)="toggleSidebar('new-reglement-sidebar')"
  >
    <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
    ><span class="d-none d-sm-inline-block">Ajouter Reglement</span>
  </button>
</div>
<core-sidebar
  class="modal modal-slide-in sidebar-todo-modal fade"
  name="new-reglement-sidebar"
  overlayClass="modal-backdrop"
>
  <app-new-reglement-sidebar></app-new-reglement-sidebar>
</core-sidebar>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="date" (sort)="onSort($event)">date</th>
      <th scope="col" sortable="montantPaye" (sort)="onSort($event)">
        montant Paye 
      </th>
      <th scope="col" sortable="montantRestant" (sort)="onSort($event)">
        Montant Restant
      </th>
      <th scope="col" sortable="payee" (sort)="onSort($event)">Payee</th>
      <th scope="col" sortable="facture" (sort)="onSort($event)">Nombre de factures</th>
      <th scope="col">Outils</th>
    </tr>
  </thead>
  <tbody>
  
    <tr *ngIf="this.service.reglementsearch.length==0">
      <td></td>
      <td></td>
      <td></td>
      <td  style="color: red;font-weight: 900;">Pas de réglements</td>
    </tr>
    <tr
  
      *ngFor="let reglement of service.reglementsearch.slice((service.page - 1) * service.pageSize,
        (service.page - 1) * service.pageSize + service.pageSize);let i = index" [attr.data-index]="i"
    >
   
      <th scope="row">{{ page<=1? i+(service.pageSize-1) :i+1}}</th>
      <td>
        <ngb-highlight
          [result]="reglement.date"
          [term]="service.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <!-- <img
            [src]="'https://upload.wikimedia.org/wikipedia/commons/' + 'TN'"
            class="me-2"
            style="width: 20px"
          /> -->
        <ngb-highlight
          [result]="reglement.montantPaye"
          [term]="service.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [result]="reglement.montantRestant"
          [term]="service.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <div *ngIf="reglement.payee;else notpayee">
          <span class="badge bg-success">
            <ngb-highlight
              result="Oui"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </span>
        </div>
        <ng-template #notpayee>
          <span class="badge bg-danger">
            <ngb-highlight
              result="Non"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </span>
        </ng-template>
      </td>
      <td>
        <div *ngIf="reglement.facture;else nofacture">
          <span class="badge bg-success">
            <ngb-highlight
              result="Existante"
              [term]="service.searchTerm"
            ></ngb-highlight>
            
          </span>&nbsp;
          <a  [routerLink]="['detail-facture', reglement.facture.idFacture]" (click)="Toggledetail(reglement.facture)">
            <i class="feather icon-info" style="color: rgba(0, 197, 10, 0.541)">
             
              
            </i>
          </a>
        </div>
        <ng-template #nofacture>
          <span class="badge bg-danger">
            <ngb-highlight
              result="Non existante"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </span>
        </ng-template>

      </td>
      <td>
        <a
          [routerLink]="['edit-reglement', reglement.idReglement]"
          (click)="toggleSidebar('edit-reglement-sidebar');"
        >
          <i class="feather icon-edit" style="color: rgb(55, 106, 247)"></i>
          &nbsp;&nbsp;
        </a>
        <a (click)="DeleteReglement(reglement.idReglement)">
        <i  class="feather icon-trash" style="color: rgb(194, 78, 0)"> </i>
      </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="service.page"
    [pageSize]="service.pageSize"
  >
  </ngb-pagination>

  <select
    class="form-control mx-25"
    style="width: 10vw"
    name="pageSize"
    [(ngModel)]="service.pageSize"
  >
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
<!-- SIDEBARS -->

<core-sidebar
  class="modal modal-slide-in sidebar-todo-modal fade"
  name="edit-reglement-sidebar"
  overlayClass="modal-backdrop"
>
  <router-outlet></router-outlet>
</core-sidebar>

<app-detail-facture-reglement [test]="test" [hidden]="!toggle" [facture]="currentfacture"></app-detail-facture-reglement>