

<button
   
       class="btn btn-primary ml-1"
      rippleEffect
      (click)="toggleSidebar('new-facture')">
      <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
      ><span class="d-none d-sm-inline-block">Ajouter factures</span>
    </button> 

    

  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-facture"
    overlayClass="modal-backdrop"
  >
    <app-new-facture></app-new-facture>
  </core-sidebar>

<div class="mb-3 row">
  <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label"
    >Recherche:</label
  >
  <div class="col-xs-3 col-sm-auto">
    <input
      id="table-complete-search"
      type="text"
      class="form-control"
      name="searchTerm"
      [(ngModel)]="fs.searchTerm"
    />
 
  </div>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="montantFacture" (sort)="onSort($event)">montantFacture</th>
      <th scope="col" sortable="montantRemise" (sort)="onSort($event)">
        montant Remise  
      </th>
      <th scope="col" sortable="dateCreationFacture" (sort)="onSort($event)">
        date Creation Facture
      </th>
      <th scope="col" sortable="dateDernierModification" (sort)="onSort($event)">
        date Creation Facture
      </th>
      <th scope="col" sortable="archive" (sort)="onSort($event)">archive</th>
      <th scope="col">Actions</th>
      <th scope="col">Voir Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let facture of this.fs.FACTURES.slice((fs.page - 1) * fs.pageSize,
        (fs.page - 1) * fs.pageSize + fs.pageSize);let i = index" [attr.data-index]="i"
    >
      <th scope="row">{{ page<=1? i+(fs.pageSize-1) :i+1}}</th>
      <td>
        <ngb-highlight
          [result]="facture.montantFacture"
          [term]="fs.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
     
        <ngb-highlight
          [result]="facture.montantRemise"
          [term]="fs.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [result]="facture.dateCreationFacture"
          [term]="fs.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [result]="facture.dateDernierModification"
          [term]="fs.searchTerm"
        ></ngb-highlight>
      </td>
      <td>
        <div *ngIf="facture.archive;else notarchive">
          <span class="badge bg-success">
            <ngb-highlight
              result="Oui"
              [term]="fs.searchTerm"
            ></ngb-highlight>
          </span>
        </div>
        <ng-template #notarchive>
          <span class="badge bg-danger">
            <ngb-highlight
              result="Non"
              [term]="fs.searchTerm"
            ></ngb-highlight>
          </span>
        </ng-template>
      </td>
      <td>
  
    

    <button type="button" class="btn btn-primary" [routerLink]="['/facture/update-facture', facture.idFacture]"> Update </button>
          
<button type="button" class="btn btn-primary"  [hidden]="!facture.archive"  (click)="delete(facture)">Delete</button>

      </td>
      <td>  <button type="button"   (click)="GoDetails(facture.idFacture)"  class="btn btn-outline-primary btn-block mb-75" > Voir Details
      </button>       
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="fs.page"
    [pageSize]="fs.pageSize"
  >
  </ngb-pagination>

  <select
    class="form-control mx-25"
    style="width: 10vw"
    name="pageSize"
    [(ngModel)]="fs.pageSize"
  >
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>



<app-affi-detail-facture [idF]="nb" [hidden]="!show"></app-affi-detail-facture>

<!-- <app-detail-facture [idF]="nb" [hidden]="!show"></app-detail-facture>  -->

