<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code Produit</th>
        <th scope="col">Prix</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produits">
        <th scope="row">{{p.idProduit}}</th>
        <td>{{p.codeProduit}}</td>
        <td>{{p.prix}}</td>
      </tr>
    </tbody>
  </table>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

