

<div class="slideout-content">
    <!-- Modal to add reglement starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal"
            id="modals-slide-in">
        <div class="modal-dialog" role="document">

            <form  class="add-new-user modal-content pt-0" #newRegForm="ngForm"  ><br>

                <br>

<!--                <button type="button"  class="close" data-dismiss="modal"  aria-label="Close"-->
<!--                        (click)="toggleSidebar('new-reglement-sidebar')"-->
<!--                        [routerLink]="['/facture']" >facture   </button>-->
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">New Facture</h5>
                </div>





                <div class="modal-body flex-grow-1">

                    <div class="form-group">
                        <label class="form-label" for="montantFacture">Montant payee</label>
                        <input type="text" required  pattern="[0-9]*"  class="fmontantFacture"
                                id="montantFacture"
                                placeholder="Montant paye"
                                name="montantFacture" [(ngModel)]="montantFacture"  #montantF="ngModel"/>

                        <span *ngIf="montantF.touched && montantF.invalid"  class="invalid-form">
                             <small style="color: #ff0700" class="form-text text-danger"
                                    *ngIf="montantF.errors['required']" class="alert alert-danger" role="alert">
                              Montant Facture Obligatoire !
                                </small>
                         <small class="form-text text-danger"
                            *ngIf="montantF.hasError('pattern')" class="alert alert-danger" role="alert">
                                que des chiffres
                               </small>
                        </span>

                    </div>

                    <div class="form-group">
                        <label class="form-label" for="montantRemise">Montant Restant</label>
                        <input type="text" class="montantRemise" required
                                pattern="[0-9]*"
                                id="montantRemise"
                                placeholder="Montant restant"
                                name="montantrestant"
                                [(ngModel)]="montantRemise"
                                #montantR="ngModel"/>
                        <span *ngIf="montantR.touched && montantR.invalid"  class="invalid-form">
                             <small style="color: #ff0700" class="form-text text-danger"
                                    *ngIf="montantR.errors['required']" class="alert alert-danger" role="alert">
                              Montant Remise Obligatoire !
                                </small>
<!--                         <small class="form-text text-danger"-->
<!--                                *ngIf="montantR.hasError('pattern')" class="alert alert-danger" role="alert">-->
<!--                                que des chiffres-->
<!--                               </small>-->
                        </span>


                    </div>
                        <div class="form-group">
                        <label class="form-label" for="Archive" >Archive </label>
                         <input type="text" class="Archive" required
                                pattern="[0-9]"
                                id="Archive"
                                placeholder="Montant restant"
                                name="montantrestant"
                                [(ngModel)]="archive"
                                #archivE="ngModel"/>

                            <span *ngIf="archivE.touched && archivE.invalid"  class="invalid-form">
                             <small style="color: #ff0700" class="form-text text-danger"
                                    *ngIf="archivE.errors['required']" class="alert alert-danger" role="alert">
                              archivE Obligatoire !
                                </small>

                        </span>
                    <br>

                        </div>
                    <div class="form-group">
                    <label class="dateCreationFacture" >Date de Creation</label>

                    <section id="default-date-and-range">
                        <dl-date-time-picker required startView="day" maxView="year" minView="minute"
                                minuteStep="5"
                                name="date"
                                [(ngModel)]="dateCreationFacture"
                                #dC="ngModel">
                        </dl-date-time-picker>
                    </section>

                    <span *ngIf="!dC.touched && dC.invalid"  class="invalid-form">
                             <small style="color:red " class="form-text text-danger"
                                    *ngIf="dC.errors['required']" class="alert alert-danger" role="alert">
                              date creeation  Obligatoire !</small>

                        </span>
                    </div>
                        <div class="form-group">
                    <label class="dateDerniereModification" for="dateDerniereModification"
                    >Date de derniere Modification</label>
                    <section id="dateDerniereModification">
                        <dl-date-time-picker required startView="day"
                                maxView="year"
                                minView="minute"
                                minuteStep="5"
                                name="date"
                                [(ngModel)]="dateDerniereModification"
                                #dD="ngModel">
                        </dl-date-time-picker>
                    </section>
                    <span *ngIf="!dD.touched && dD.invalid"  class="invalid-form">
                             <small style="color:red " class="form-text text-danger"
                                    *ngIf="dD.errors['required']" class="alert alert-danger" role="alert">
                              Date Derniere Modification Obligatoire !
                                </small>
                    </span>
                        </div>
<!--                    <button [disabled]="newRegForm.invalid"-->
<!--                            type="submit" class="btn btn-primary mr-1" (click)="submit(newRegForm)"  [routerLink]="['/facture']" rippleEffect>Submit </button>-->

<!--                    <button type="reset"-->
<!--                            class="btn btn-outline-secondary"-->

<!--                            (click)="toggleSidebar('new-reglement-sidebar')"-->
<!--                            rippleEffect-->
<!--                            [routerLink]="['/facture']">-->
<!--                        Cancel-->
<!--                    </button>-->

                    <div class="modal-footer">
                        <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal"  [routerLink]="['/facture']" >Close</button>
                        <button type="submit" class="btn btn-primary" (click)="submit(newRegForm)"  [routerLink]="['/facture']" >Save changes</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
