



<div class="slideout-content">
  <!-- Modal to add reglement starts-->
  <div
    class="modalsd modal-slide-in sdfade new-facture"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form class="new-facture modal-content pt-0" [formGroup]="regform">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-facture')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New Facture</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <!-- MONTANT PAYEE -->
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-montantRemise"
              >montant  Remisee</label
            >
            <input
              type="text"
              class="basic-icon-default-montantRemise"
              id="basic-icon-default-montantRemise"
              placeholder="montantRemise"
              name="montantRemise"
              formControlName="montantRemise"
             
            />
            <span
              *ngIf="regform.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="regform['controls'].montantRemise.errors?.required"
                >Ce champ est requis !</small
              >
              <small
              class="form-text text-danger"
              *ngIf="regform['controls'].montantRemise.errors?.pattern"
              >Seulement des chiffres !</small >
          
            </span>
          </div>


           <!-- MONTANT RESTANT  -->
          <div class="form-group">
            <label class="form-label" for="montantFacture"
              >montantFacture</label
            >
            <input
              type="text"
              class="montantFacture"
              id="montantFacture"
              placeholder="Montant restant"
              name="montantFacture"
              
              formControlName="montantFacture"

             
              required
            />
            <span
            *ngIf="regform.invalid"
            class="invalid-form"
          >
            <small
              class="form-text text-danger"
              *ngIf="regform['controls'].montantFacture.errors?.required"
              >Ce champ est requis !</small
            >
            <small
            class="form-text text-danger"
            *ngIf="regform['controls'].montantFacture.errors?.pattern"
            >Seulement des chiffres !</small
          >
          <small
          class="form-text text-danger"
          *ngIf="regform['controls'].montantFacture.errors?.min"
          >La valeur minimum est 500 dt !</small
        >
          </span>
          </div>

          <!-- DATE INPUT  -->

          <div class="form-group">
          <label class="form-label" for="dateCreationFacture"
            >Date de CREATION</label
          >
          <br><br/>
         
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dateCreationFacture"
                formControlName="dateCreationFacture"
                ngbDatepicker
              required
                #d="ngbDatepicker"
              
             
              />
              <button
                class="btn btn-primary bi bi-calendar-event"
                (click)="d.toggle()"
                type="button"
              ></button>
            </div>
          
          </div>
  <div class="form-group">
            <label class="form-label" for="dateDernierModification"
            >dateDernierModification</label
          >
            <div class="input-group">

              

              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dateDernierModification"
                formControlName="dateDernierModification"
                ngbDatepicker
             
                #db="ngbDatepicker"
             
         
              />
<button
                class="btn btn-primary bi bi-calendar-event"
                (click)="db.toggle()"
                type="button"
              ></button>
            </div>
          </div>
            <br />

            <div class="form-group">
            <div class="custom-control custom-control-success custom-switch">
              <p class="mb-50">Regelement payé</p>
              <input
                type="checkbox"
                formControlName="archive"
                class="custom-control-input"
                id="customSwitch4"
               
              />
              <label class="custom-control-label" for="customSwitch4"></label>
            </div>
            <br />
<!-- 
            [disabled]="regform.status === 'INVALID'" -->

            <button
              type="submit"
              class="btn btn-primary mr-1"
              (click)="AddFacture();submit(regform)"
              rippleEffect
              [disabled]="regform.status === 'INVALID'" 
            >
              Submit
            </button>
            <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-facture')"
              rippleEffect >
              Cancel
            </button>
          </div>

          
        </div>
      </form>
    </div>
  </div>
</div>

