@import '@core/scss/angular/libs/ratings.component.scss';

  .immg img{
    margin-top: 90px;
    margin-left: 90px;
   
  }
  .immg a{
    float: left;
  }
  
 .immg .wii {
    margin-left: -20px;
    width: 320px;
 }
 