<!-- Ecommerce Item -->
<div class="item-img text-center">
  <a  
 >
    <img class="img-fluid card-img-top" [src]="product.image" alt="img-placeholder" />
  </a>
</div>
<div class="card-body">
  <div class="item-wrapper">
    <div class="item-rating">
      <div class="rating rating-sm">
        <ngb-rating [rate]="4" [readonly]="true" [max]="5" class="outline-none">
          <ng-template let-fill="fill" let-index="index"
            ><span class="fa fa-star-o mr-25" [class.fa-star]="fill === 100"></span
          ></ng-template>
        </ngb-rating>
      </div>
    </div>
    <div class="item-cost">
      <h6 class="item-price">${{ product.prix }}</h6>
    </div>
  </div>
  <h6 class="item-name">
    <a class="text-body" [routerLink]="'/apps/e-commerce/details/' + product.idProduit"> {{ product.name }}</a>
    <span class="card-text item-company"
      >By <a href="javascript:void(0)" class="company-name">{{ product.libelleProduit }}</a></span
    >
  </h6>
  <p class="card-text item-description">
    {{ product.libelleProduit}}
  </p>
</div>
<div class="item-options text-center">
  <div class="item-wrapper">
    <div class="item-cost">
      <h4 class="item-price">${{ product.prix }}</h4>
      <p class="card-text shipping" *ngIf="true">
        <span class="badge badge-pill badge-light-success">Free Shipping</span>
      </p>
    </div>
  </div>
 
  <a
    class="btn btn-light btn-wishlist"
    rippleEffect
  >
    <i class="fa mr-25" [ngClass]="product.stock != null ? 'fa-heart text-danger' : 'fa-heart-o'"></i>
    <span>In Stock</span>
  </a>
  <a
  
    class="btn btn-primary btn-cart"  
    rippleEffect
    (click)="modalOpenVC(modalXL)" [routerLink]="['/produit/list/info', product.idProduit]"
  >
    <i data-feather="info" class="mr-25"></i>
    <span class="add-to-cart">See Details</span>
  </a>
 
</div>
<!--/ Ecommerce Item -->
<ng-template #modalXL let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalCenterTitle">Produt details</h4>
    <button type="button" class="close " (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true" style="color: red;">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus style="display: flex;justify-content: center">



<div class="immg" style="display: flex;justify-content: center;width: 90%;">
    <router-outlet> </router-outlet>
   
  </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
     Back
    </button>
  </div>
</ng-template>
