

<div class="card basic-pricing text-center" *ngIf="test=='show'">
    <div class="card-body">
      <img src="../../../../../assets/images/pages/facture.png" alt="svg img" />
      <h4><span class="badge badge-info">Montant remise</span>&nbsp;{{facture.montantRemise}}</h4>
      <h4><span class="badge badge-info">Montant facture</span>&nbsp;{{facture.montantFacture}}</h4>
      <h4><span class="badge badge-info">Date creation facture</span>&nbsp;{{facture.dateCreationFacture}}</h4>
      <h4><span class="badge badge-info">Date de derniere modification</span>&nbsp;{{facture.dateDerniereModification}}</h4>
     
      <div *ngIf="facture.archivee;else notarchive">
      <h4 ><span class="badge badge-info">archive</span>&nbsp;<span class="badge badge-success">Oui</span></h4>
    </div>
    <ng-template #notarchive>
        <h4><span class="badge badge-info">archive</span>&nbsp;<span class="badge badge-danger">Non</span></h4>
    </ng-template>
    
      <ul class="list-group list-group-circle text-left">
        <!-- <li class="list-group-item" *ngFor="let planBenefitsRef of data.pricing.basicPlan.planBenefits">
          {{ planBenefitsRef }}
        </li> -->
      </ul>
    </div>
  </div>
<!-- 
<p>{{fact.dateCreationFacture}} </p>
<p>{{fact.dateDerniereModification}} </p>
<p>{{fact.archive}} </p> -->

